extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register") Register
  if (user)
    .container
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout
      br
      form(role='form', action="/add-hashtag",method="post", style='max-width: 300px;')
        .form-group
            input.form-control(type='text', name="tag", placeholder='Add Tag')
        button.btn.btn-default(type='submit') Add Tag
        &nbsp;
        a(href='/')
          button.btn.btn-primary(type="button") Cancel
      h2 Your tags:
      ul
        - var values = user.tags
        each val in values
          li= val
